@media only screen and (max-width : 768px){
  [class*="col-"]{
    width: 100%;
  }
  }

.navbar {
  margin-bottom: 5px;
  height: 140px;
}

.main-logo {
  left: 50%;
  top: 10px;
  margin-left: -60px !important;
}

h5{
  font-weight: bold;
  color: black;
}

#start, #start1, #start2{
    background-color:#f55b0f;
    border: 1px solid black;
    border-radius: 16px;
    color: white;
    padding: 5px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#stop, #stop1, #stop2{
    background-color:#f55b0f;
    border: 1px solid black;
    border-radius: 16px;
    color: white;
    padding: 5px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

  /* Add a background color on hover */
  #stop :hover {
    background-color:#b55016;
  }
