.navbar {
  margin-bottom: 5px;
  height: 140px;
}

.main-logo {
  left: 45%;
  top: 10px;

}

p{
  font-size: 20px;
  color: black;
}

#start, #start1, #start2{
    background-color:#f55b0f;
    border: 1px solid black;
    border-radius: 16px;
    color: white;
    padding: 5px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#stop, #stop1, #stop2{
    background-color:#f55b0f;
    border: 1px solid black;
    border-radius: 16px;
    color: white;
    padding: 5px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

}

  /* Add a background color on hover */
  #stop :hover {
    background-color:#b55016;
  }

@media screen and (max-width : 1000px){
  .navbar{
    width: calc(100%)
  }

  .main-logo{
      width: calc(100%/6)
  }

  img {
    width: calc(100%)
  }

  p{
    width: calc(100%/6)
    align:center;
    font-size: 10px;
  }

#start, #start1, #start2{
  width: calc(100%/6)
  align:center;
  padding: 5px 12px;
  font-size: 10px;
}

  #stop, #stop1, #stop2{
    width: calc(100%/6)
    align:center;
    padding: 5px 12px;
    font-size: 10px;
  }
  
}
